# QUIZ3

Exercise 1

In [14]:
My_List = ['Boonthicha','Saejia',20]

In [15]:
del My_List[2]

In [16]:
My_List.insert(0,10)

In [17]:
My_List.append(161)
My_List.append(56)

In [18]:
print(My_List[2:])

['Saejia', 161, 56]

# QUIZ4

In [21]:
a=[[[1,3],[3,4]],[5,[5,6],[7,8]]]
a[1][1][1]

6

In [22]:
Name_1=['Boonthicha','Saejia',20]
Name_2=['Jidapa','Saejia',19]
Name_3=['Jirapas','Saejia',17]
Name_4=['Rangsit','Saejia',44]
Name_All=[Name_1,Name_2,Name_3,Name_4]
print(Name_All)

[['Boonthicha', 'Saejia', 20], ['Jidapa', 'Saejia', 19], ['Jirapas', 'Saejia', 17], ['Rangsit', 'Saejia', 44]]

In [24]:
del Name_All[3]
print(Name_All)

[['Boonthicha', 'Saejia', 20], ['Jidapa', 'Saejia', 19], ['Jirapas', 'Saejia', 17]]

In [25]:
Name_All.insert(0,['Piyakarn','Imsuwanwittaya',46])
print(Name_All)

[['Piyakarn', 'Imsuwanwittaya', 46], ['Boonthicha', 'Saejia', 20], ['Jidapa', 'Saejia', 19], ['Jirapas', 'Saejia', 17]]

In [26]:
Name_All[1][2] = 30
print(Name_All)

[['Piyakarn', 'Imsuwanwittaya', 46], ['Boonthicha', 'Saejia', 30], ['Jidapa', 'Saejia', 19], ['Jirapas', 'Saejia', 17]]

# QUIZ5

Exercise1

In [1]:
lst=[1,2,3,4,5,6,7,8,9,10]
power_3_lambda=map(lambda x:x**3, lst)
print(list(power_3))

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [3]:
def power_3(y):
    return y**3
power_3_func=map(power_3,lst)
print(list(power_3_func))

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

Exercise2

In [7]:
lst=[1,2,3,4,5,6,7,8,9,10]
def power_2(a):
    return a**2
power_2=list(map(power_2,lst))
final_list = filter(lambda x:(x%2 != 0), power_2)
print(list(final_list))

[1, 9, 25, 49, 81]

In [14]:
def power_2_odd(b):
    if b%2 !=0:
        return b
final_list_2 = filter(power_2_odd, power_2)
print(list(final_list_2))

[1, 9, 25, 49, 81]

# QUIZ6

Exercise1

In [15]:
lst=[1,2,3,4,5]
lst2=[(x*2)-1 for x in lst]
print(lst2)

[1, 3, 5, 7, 9]

Exercise2

In [16]:
lst=[1,2,3,4,5,6,7,8,9,10,11,12,13]
lst3=[y for y in lst if y%3!=0]
print(lst3)

[1, 2, 4, 5, 7, 8, 10, 11, 13]

# QUIZ7

Exercise1

In [8]:
point = int(input("What is your point?"))
if point>=80:
    grade = 'A'
elif point>= 70:
    grade ='B'
elif point>= 60:
    grade='C'
elif point>= 50:
    grade='D'
else:
    grade='F'
print("Your grade is",grade)

What is your point?48
Your grade is F

# QUIZ8

Exercise1

In [9]:
A=[1,2,3,4,5]
B=[2,3,1,3,2]
result = map(lambda a,b:b**a, A,B)
print(list(result))

[2, 9, 1, 81, 32]

Exercise2

In [14]:
Name=['Midoriya','Bakugo','Todoroki','Mineta']
Number=[18,17,15,19]
Final_result=[80,85,75,55]

A_1_list= list(zip(Name,Number,Final_result))
print(A_1_list)

[('Midoriya', 18, 80), ('Bakugo', 17, 85), ('Todoroki', 15, 75), ('Mineta', 19, 55)]

# QUIZ9

Exercise1

In [16]:
from functools import reduce
lst=[5,2,1,3,2]
result = reduce(lambda a,b:a**b, lst)
print(result)

244140625

Exercise2

In [18]:
lst=[1,2,3,4,5,6,7,8,9,10]
result=reduce(lambda a,b:a*b, lst)
print(result)

3628800